@font-face {
    font-family: over_there;
    src: url('over_there.ttf');
}

.fontPreload{
    position:absolute;
    left:-100px;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color:#000;
}